<div class="feed-container">

    <div class="input-group mb-1">
        <textarea placeholder="Quote" id="quote_enter" class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="input-group mb-1">
        <input
            id="author_enter"
            type="text"
            placeholder="Author"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
        >
    </div>

    <button id="clear_button" type="button" (click)="clearClick()" class="btn btn-danger mb-3">Clear</button>
    <button id="save_button" type="button" (click)="saveClick()" class="btn btn-success mb-3">Save</button>

    <hr>

    <input
        id="search_enter"
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
    />

    <div *ngIf="quotes !== {}; else noQuotes">

        <b>Quote Object</b>
        <p>{{quotes}}</p>

        <div class="accordion" id="quote_accordion">
            <div *ngFor="let authorItem of quotes | keyvalue">
                <div *ngFor="let quoteItem of authorItem.value | keyvalue">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="{{ quoteItem.key }}">
                            <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#{{ quoteItem.key + quoteItem.value.timestamp }}"
                                aria-expanded="false"
                                aria-controls="{{ quoteItem.key + quoteItem.value.timestamp }}"
                            >
                                {{ authorItem.key }} @ {{ timestampToDate(quoteItem.value.timestamp) }}
                            </button>
                        </h2>
                        <div
                            id="{{ quoteItem.key + quoteItem.value.timestamp }}"
                            class="accordion-collapse collapse"
                            aria-labelledby="{{ quoteItem.key }}"
                            data-bs-parent="#quote_accordion"
                        >
                            <div class="accordion-body">
                                "{{ quoteItem.value.quote }}"
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noQuotes>
        <h2>No saved quotes! Add some by entering them into the box above</h2>
    </ng-template>
</div>
