.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

app-top-bar {
    width: 100%;
    height: 2%;
    background-color: #1976d2;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

router-outlet + *  {
    padding: 0 2%;
}